
div {
    
    padding: 10px;
}
 
#section-1 {
   background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);

}
#section-2 {
    background: rgb(189, 242, 229);
}

#section-3{
    background: rgb(244, 245, 189) 
}
#body {
  font-family: "Sour Gummy";
  
}
#aboutme {
    background:rgb(255, 228, 249)
    
}
#interests {
    background:rgb(214, 255, 244); ;
}

}


